
/* Import Syncfusion CSS */
@import url('https://cdn.syncfusion.com/ej2/material.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.75em;
    max-width: 800px;
  }
  
  .form__checkbox-container {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.5em;
  }
  
  .form__persist {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5em;
  }
  
  .form__title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form__input,
  .form__submit-button {
    padding: 0.5em;
    border-radius: 10px;
  }
  
  .form__input--text {
    min-height: 150px;
  }
  
  .form__input--incomplete {
    border: 1px solid var(--INPUT-INVALID);
    outline: 1px solid var(--INPUT-INVALID);
  }
  
  .form__checkbox {
    width: 24px;
    height: 24px;
  }
  
  .form__select {
    width: fit-content;
    padding: 0.25em;
  }
  
  .form__action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    right: 0.5em;
  }
  
  .form__row {
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
  }
  
  .form__divider {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
  }
  /* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.modal {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.5); /* Overlay color */
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 600px;
}

/* New styles for document viewing */
.document-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

.document-link {
  display: inline-block;
  margin: 20px 0;
  color: blue;
  text-decoration: underline;
}